body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:  #025157;
}

h1 {
    text-align: center;
    color: rgb(19, 111, 114);
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 24px;
}

h4 {
    text-align: center;
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    color: gray;
    text-align: center;
}

body{
    display: block;
}

main {
    margin-top: 285px;
    text-align: center;
}

figure {
    margin-top: 32px;
    text-align: center;
}

.banner{
    text-align: center;
    width: 100%;
}

.intro > img{
    width: 70%;
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
}

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    text-align: start;
}

button, input {
    height: 100%;
    border-radius: 8px;
    overflow: visible;
    font-family: "Open Sans", sans-serif;
}

button {
    background-color: rgb(19, 111, 114);
    color: white;
    border: rgb(19, 111, 114);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -10px;
    padding: 6px 20px;
    height: 55px;
    text-align: center;
}

form {
    text-align: center;
    height: 55px;
}

body {
    background-color: rgb(243, 240, 233);
    font-family: "Open Sans", sans-serif;
}

.header{
    margin: 40px 20px 40px 20px;
    font-size: 0;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(243, 240, 233);
}

 /* Todos los elementos que están en el header control más } */
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.menu-item{
    display: inline;
    margin-right: 20px;
    padding-right: 15px;
}

.logo {
    width: 20%;
    height: 100%;
}

.logo > img {
    height: 100%;
    vertical-align: middle;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 20%;
    text-align:  right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0 10px;
}

.actions a {
    color: #67b54b;
    font-weight: 800;
}

.actions a:hover {
    color: #65df39;
}

.actions > button{
    text-decoration: none;
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px; 
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.actions > button:hover {
    background-color: rgb(19, 111, 114);
    color: #65df39;
}
.promo{
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publishvideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.publishvideo img{
    width: 120px;
    margin-top: 10px;
}

.publish {
    flex: 1;
    
}

.publish > h3{
    color: rgb(19, 111, 114);
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.publish > h4 {
    text-align: justify;
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
}

.publish > p {
    text-align: left;
    color: gray;
    margin-right: 18px;
}

.signup-form {
    display: flex;
    justify-content: flex-start;
}

.features{
    display:grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    padding: 5% 10%;
    background-color:  rgb(19, 111, 114);
}

/* Se definió la altura para que la algura sea de 330 de cada fila, además grid-template te permite poner primero columnas y luego filas */

.features .feature-card{
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgb(203, 250, 242);
    margin: 0 15px 30px 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.features .feature-card .feature-content h3{
    font-size: 24px;
    color: rgb(41, 37, 37);
    font-weight: 400;
}

.features .feature-card .feature-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.features .feature-card .feature-content a{
    color: #67b54b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    
}

.features .feature-card .feature-content a:hover {
    color: #65df39;
}

.features .feature-card .feature-image{
    flex: 1;
    position: relative;
    width: 40%;
    right: -50px;
    height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

@media (max-width: 575px) {
    .navbar, .actions {
    display: none;
    }
    main{
        margin-top: 130px;
    }
    main > form > button{
    height: 32px;
    }
    main > form > button, input{
        overflow: visible;
    }
    h1 {
        font-size: 30px;
    }
    .banner > img {
        width: 70%;
        text-align: center;
    }
    .promo {
        flex-direction: column;
        max-width: 90%;
        margin-top: 60px;
    }
    
    .publishvideo > video {
        width: 100%;
    }
    .publishvideo > figure {
        margin-top: 0;
    }

    .publish {
        margin-top: 50px;
    }
    
    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }
    .publish > form {
        flex-direction: row;
    }
    
    .publish > form {
        height: 50px;
        margin-top: -5px;
    }

    .publish > form > button, input {
        height: 60%;
        border-radius: 8px, 8px, 8px, 0;
        overflow: visible;
        font-family: "Open Sans", sans-serif;
    }
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    .feature-image {
        display: none;
    }
}


/*
input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    text-align: start;
}

button, input {
    height: 100%;
    border-radius: 8px;
    overflow: visible;
    font-family: "Open Sans", sans-serif;
}

button {
    background-color: rgb(19, 111, 114);
    color: white;
    border: rgb(19, 111, 114);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -10px;
    padding: 6px 20px;
    height: 55px;
    text-align: center;
}