body{
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(19, 111, 114);
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 24px;
    margin-top: 24px;
}

h4 {
    text-align: center;
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    color: gray;
    text-align: center;
}

figure {
    text-align: center;
}

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    text-align: start;
}



button, input {
    height: 100%;
    border-radius: 8px;
    overflow: visible;
}

button {
    background-color: rgb(19, 111, 114);
    color: white;
    border: rgb(19, 111, 114);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -10px;
    padding: 6px 20px;
    height: 55px;
    text-align: center;
}

form {
    text-align: center;
    height: 55px;
}

body {
    background-color: rgb(243, 240, 233);
    font-family: "Open Sans", sans-serif;
}

.header{
    margin: 40px 20px 40px 20px;
    font-size: 0;
}

 /* Todos los elementos que están en el header control más } */
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.menu-item{
    display: inline;
    margin-right: 20px;
    padding-right: 15px;
}

.logo {
    width: 20%;
    height: 100%;
}

.logo > img {
    height: 100%;
    vertical-align: middle;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 20%;
    text-align:  right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions > button{
    text-decoration: none;
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px; 
    border: 0;
    border-radius: 5px;
    text-align: center;
}
